header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  z-index: 100;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
  background-color: transparent; /* Anfang: transparent */
  border-bottom: none;
}
header.scrolled {
  background-color: var(--background-color-dark);
  border-bottom: solid 1px var(--border-color);
}
.left-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-menu-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
  margin-left: 10px;
}
.header-menu-icon.rotated {
  transform: rotate(90deg);
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-image {
  width: 50px;
  height: 50px;
}
.logo-name {
  color: white;
  font-family: Poppins, arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-left: -5px;
}
.middle-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.non-active-page {
  color: white;
  font-size: 18px;
  font-weight: 700;
  transition: color 0.15s ease;
}
.active-page {
  color: var(--title-color);
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.middle-section a:hover {
  color: var(--title-color-hover);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.middle-section a:active {
  color: var(--title-color-active);
  text-decoration: underline;
  text-underline-offset: 10px;
}
.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  margin-right: 10px;
}
.social-img {
  width: 30px;
  height: 30px;
  transition: transform 0.15s ease, opacity 0.15s ease;
}
.social-img:hover {
  transform: scale(1.2);
}
.social-img:active {
  opacity: 0.7;
}
.sidebar {
  background-color: var(--background-color-dark);
  position: fixed;
  top: 56px;
  bottom: 0;
  left: -251px;
  width: 250px;
  z-index: 100;
  margin-left: 0;
  transition: left 0.5s ease;
  border-right: solid 1px var(--border-color);
}
.sidebar.open {
  left: 0;
}
main {
  transition: margin-left 0.5s ease;
}
main.leftSpace{
  margin-left: 250px;
}
@media (max-width: 720px) {
  .middle-section {
    display: none;
  }
  .right-section {
    display: none;
  }
  .left-section {
    justify-content: space-between;
  }
  main{
    margin-left: 170px;
  }
  .sidebar{
    width: 170px;
  }
}
.navigation-container,
.sidebar-socials-container {
  padding-bottom: 40px;
}

.navigation-title,
.sidebar-social-title {
  color: var(--title-color-2);
  border-bottom: solid 1px var(--border-color);
  padding: 10px 5px;
  font-size: 14px;
  font-style: italic;
}
.sidebar-link,
.sidebar-link-active {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 5px;
}
.sidebar-link-active {
  background-color: rgb(170, 170, 170, 0.2);
  border-left: solid 4px white;
}
.sidebar-link:hover {
  background-color: rgb(170, 170, 170, 0.2);
  border-left: solid 4px white;
}
.sidebar-icon {
  width: 25px;
  height: 25px;
}
.sidebar-link-name {
  color: white;
  font-size: 14px;
  margin-left: 5px;
}
.sidebar-social-img {
  width: 25px;
  height: 25px;
}
.sidebar-contact-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.sidebar-content {
  position: relative;
  height: 100%;
}
.sidebar-contact-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 5px;
  transition: opacity 0.15s ease;
}
.sidebar-contact-link:hover{
  opacity: 0.5;
}
.sidebar.transparent {
  background-color: transparent !important;
  border-right: solid 1px var(--border-color);
}