p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Roboto, arial, sans-serif;
}
div {
  font-family: Roboto, arial, sans-serif;
}

body {
  background-image: linear-gradient(rgb(0, 2, 53), rgb(124, 129, 255));
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
}

/* Main Part */
main {
  margin-top: 70px;
}

.unsere-pakete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0px 4px 6px rgba(0, 2, 53, 0.25);
}
.unsere-pakete-title {
  color: yellow;
  font-size: 50px;
  font-weight: bold;
  padding: 50px 0;
  text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5);
}
.unsere-pakete-infotext {
  margin: 20px;
  text-align: center;
  color: white;
  font-size: 16px;
  line-height: 25px;
}
.pakete-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  margin: 40px 0;
}
.paket {
  width: 175px;
  height: 250px;
  background-color: rgb(124, 129, 255);
  border: 1px solid rgb(0, 2, 53);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: background-color 0.15s ease, border-color 0.15s ease;
  cursor: pointer;
}
.paket:hover {
  background-color: rgba(124, 128, 255, 0.7);
  border-color: white;

}
.paket:active {
  background-color: rgba(124, 128, 255, 0.4);
}
.paket-title {
  color: yellow;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  height: 20px;
}
.paket-stichpunkte {
  color: white;
  font-size: 16px;
  line-height: 25px;
}
